<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>artJacent</title>
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <div id="header" class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center bg-primary">
      <nav id="nav">
        <ul id="nav-list">
          <li class="nav-list-item"><a href="/">Home</a></li>
          <li class="nav-list-item"><a href="/about-me">About Me</a></li>
          <li class="nav-list-item">
            <a href="/experience">Experience</a>
          </li>
          <li class="nav-list-item">
            <a href="../../public/images/Evan-Woods-Coding-Resume.pdf" download="Evan-Woods-Coding-Resume.pdf">Resume</a>
          </li>
        </ul>
      </nav>
    </header>
    <main id="body" class="container container-fluid mt-5">
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>

</body>
</html>

  