<div id="about-me-container">
    <h1 id="title">About Me</h1>
    <div id="content-container">
        <p id="content">I am a Full Stack Developer with extensive experience in TensorFlow using python. 
            In late 2019, I began my journey as a self taught developer by learning the ins and outs of python. 
            This led me to discovering the amazing things that can be done with data science, more specifically machine learning. 
            This led me to learning TensorFlow over the course of 6 months, and allowed me to reach a quality of understanding that allowed me to build complex models for almost any task. 
            Once I was confident in my understanding of machine learning, I enrolled in the “Full Stack Flex” bootcamp, delivered by The University of Sydney, and Trilogy Education Services. 
            I saw this as an opportunity to learn from leading industry professionals and eventually be able to merge my understanding of machine learning and web development to create web apps that solve real world solutions with machine learning. <br>
            <br>
            I am now awaiting begining my first professional software engineer position at Insight Enterprises Australia, in their Sydney office.

        </p>
    </div>
    <div id="technologies-container">
        <div id="tech-list-title-container">
            <h2>Technologies</h2>
        </div>
        <ul id="tech-list">
            <li class="tech-item"><img src="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/64/000000/external-javascript-mobile-app-development-flaticons-lineal-color-flat-icons.png"/></li>
            <li class="tech-item"><img src="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/64/000000/external-html-mobile-app-development-flaticons-lineal-color-flat-icons.png"/></li>
            <li class="tech-item"><img src="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/64/000000/external-css-mobile-app-development-flaticons-lineal-color-flat-icons.png"/></li>
            <li class="tech-item"><img src="https://img.icons8.com/color/48/000000/bootstrap.png"/></li>
            <li class="tech-item"><img src="https://img.icons8.com/ios-filled/50/000000/jquery.png"/></li>
            <li class="tech-item"><img src="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/64/000000/external-python-computer-programming-flaticons-lineal-color-flat-icons.png"/></li>
            <li class="tech-item"><img src="https://img.icons8.com/color/48/000000/tensorflow.png"/></li>
            <li class="tech-item"><img src="https://img.icons8.com/color/48/000000/numpy.png"/></li>
            <li class="tech-item"><img src="https://img.icons8.com/color/48/000000/heroku.png"/></li>
            <li class="tech-item"><img src="https://img.icons8.com/color/48/000000/json--v1.png"/></li>
            <li class="tech-item"><img src="https://img.icons8.com/ios/50/000000/mysql-logo.png"/></li>
            <li class="tech-item"><img src="https://img.icons8.com/ios/50/000000/handlebar-mustache.png"/></li>
        </ul>
    </div>
</div>