<div id="experience-container">
    <div class="experience-card">
        <div class="card-top">
            <h1 class="experience-title">Experience 1</h1>
            <p class="card-date">25/03/2022</p>
        </div>
        <div class="card-body">
            <p>Experience content Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, eos, laborum praesentium impedit dolorum, eius quasi iste asperiores tempore necessitatibus repellat eaque unde hic eum minus ratione eligendi. Aperiam, debitis?</p>
        </div>
    </div>
    <div class="experience-card">
        <div class="card-top">
            <h1 class="experience-title">Experience 2</h1>
            <p class="card-date">25/03/2022</p>
        </div>
        <div class="card-body">
            <p>Experience content Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, eos, laborum praesentium impedit dolorum, eius quasi iste asperiores tempore necessitatibus repellat eaque unde hic eum minus ratione eligendi. Aperiam, debitis?</p>
        </div>
    </div>
</div>