<div id="experience-container">
    <div class="experience-card">
        <div class="card-top">
            <h1 class="experience-title">University of Sydney</h1>
            <p class="card-date">25/03/2022</p>
        </div>
        <div class="card-body">
            <p>I am currently studying the "Full Stack Flex" Bootcamp at The University of Sydney and am awaiting my official start at Insight Australia.</p>
        </div>
    </div>
    <div class="experience-card">
        <div class="card-top">
            <h1 class="experience-title">Deakin University</h1>
            <p class="card-date">25/03/2022</p>
        </div>
        <div class="card-body">
            <p>I completed my second year Finance and Economics at Deakin University in Melbourne, Australia</p>
        </div>
    </div>
    <div class="experience-card">
        <div class="card-top">
            <h1 class="experience-title">University of Lethbridge</h1>
            <p class="card-date">25/03/2022</p>
        </div>
        <div class="card-body">
            <p>I spent my first year of university studying abroad in Canada, pursuing a bachelors degree in Finance and Economics.</p>
        </div>
    </div>
</div>