<div id="home-container">
    <div id="about-me">
        <h1 id="name">Hi, I'm <br> Evan</h1>
        <h1 id="about-me-title">A Full Stack & Tensorflow Developer based in Sydney, Australia</h1>
        <button id="see-projects-button">Projects</button>
    </div>
    <div id="image-container">
        <img src="images/headshot.jpg" alt="self-portrait">
    </div>
</div>
<script src="./js/projects.js"></script>