<div id="home-container">
    <div id="about-me">
        <h1 id="name">Hi, I'm <br> Evan</h1>
        <h1 id="about-me-title">A Full Stack & Tensorflow Developer based in Sydney, Australia</h1>
        <button id="see-projects-button">Projects</button>
    </div>
    <div id="image-container">
        <img src="images/headshot.jpg" alt="self-portrait">
    </div>
</div>

<section id="contact">
            <h2 id="contact-title">Contact Me</h2>
            <p id="contact-me-text">You can contact me at any of the links below. <br><br> Email me for questions, see my github to access my code, connect with me on LinkedIn and follow me on instagram.</p>
            <div id="contact-link-container">
                <a class="contact-a" href="https://www.linkedin.com/in/evan-woods-5557741b9"><i class="fab fa-linkedin"></i></a>
                <a class="contact-a" href="mailto:evan.woods.dev@gmail.com"><i class="fas fa-envelope-square"></i></a>
                <a class="contact-a" href="https://www.instagram.com/evan.woods13/?hl=en"><i class="fab fa-instagram-square"></i></a>
                <a class="contact-a" href="https://github.com/EvanCWoods"><i class="fab fa-github-square"></i></a>
            </div>
        </section>
<script src="./js/projects.js"></script>