<div id="home-container">
    <div id="about-me">
        <h1 id="name">Evan Woods</h1>
        <h1 id="about-me-title">Full Stack & Tensorflow Developer</h1>
        <button id="see-projects-button">Projects</button>
    </div>
    <div id="image-container">
        <img src="" alt="self-portrait">
    </div>
</div>
<script src="./js/projects.js"></script>