<div id="projects-container">
  <div class="project-card" id="artjacent">
    <h1 class="project-title">ArtJacent</h1>
    <img src="images/artJacent.png" alt="">
    <a href="https://artjacent.herokuapp.com">Webiste</a>
    <a href="https://github.com/EvanCWoods/artJacent">Github</a>
  </div>
  <div class="project-card" id="cocktails">
    <h1 class="project-title">Cocktail Translator</h1>
    <img src="images/cocktails.png" alt="">
    <a href="https://evancwoods.github.io/group-3-cocktails-in-any-language/">Webiste</a>
    <a href="https://github.com/EvanCWoods/group-3-cocktails-in-any-language">Github</a>
  </div>
  <div class="project-card" id="mines">
    <h1 class="project-title">Mine Sweeper</h1>
    <img src="images/bomb-screen.png" alt="">
    <a href="https://evancwoods.github.io/mineSweeper/">Webiste</a>
    <a href="https://github.com/EvanCWoods/mineSweeper">Github</a>
  </div>
  <div class="project-card" id="teams">
    <h1 class="project-title">Team Tracker</h1>
    <img src="images/team-profile.png" alt="">
    <a href="https://github.com/EvanCWoods/employee-tracker">Github</a>
  </div>
</div>