/* Global */
:root {
    --black: rgb(24, 24, 24);
    --green: rgb(55, 158, 110);
    --white: rgb(255, 255, 255);
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
body {
    background: var(--black);
}
button:hover {
    cursor: pointer;
}

/* Nav */
#nav {
    width: 70%;
    margin-bottom: 10%;
}
#nav-list {
    display: flex;
    justify-content: space-between;
}
.nav-list-item a {
    color: var(--white);
}
.nav-list-item a:hover {
    color: var(--green);
}

/* Home */
#home-container {
    display: flex;
}
#about-me {
    width: 50%;
    margin-left: 5%;
}
#name {
    color: var(--white);
    font-size: 3rem;
}
#about-me-title {
    color: var(--green);
}
#see-projects-button {
    background: var(--green);
    color: var(--white);
    padding: 3% 7% 3% 7%;
    border-radius: 20px;
    border: none;
    font-size: 1.1rem;
}
#image-container {
    width: 50%;
}

/* Experience */
#experience-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.experience-card {
    padding: 0 10% 0 10%;
    color: var(--white);
    border: 1px solid var(--green);
    border-radius: 20px;
    max-width: 400px;
}

/* Projects */
#projects-container {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.project-card {
    border: 1px solid var(--green);
    min-width: 300px;
    max-width: 500px;
    min-height: 300px;
    max-height: 500px;
    height: auto;
    margin: 1%;
    height: calc(width * 1);
}

/* About Me */
#title {
    font-size: 3rem;
    color: var(--green);
}
#content {
    color: var(--white);
    margin: 0 5% 0 5%;
}
#technologies-container {
    margin-top: 10%;
}
#tech-list-title-container {
    background: var(--green);
    color: var(--white);
    width: 30%;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}
#tech-list {
    display: flex;
    flex-wrap: wrap;
}
.tech-item img {
    width: 80px;
    height: 80px;
    margin: 10%;
}